
body {
    display: flex;
    margin: 0;
    padding: 0;
}

#left-container {
    background-image: url("./media/computer.avif");
    height: 100vh;
    width: 100%;
    resize: both;
}
#right-container {
    background-color: #DDDDDD;
    height: 100vh;
    width: 100%;
    /* resize: both; */
}