@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Noto+Sans+JP:wght@900&family=Open+Sans&display=swap');

body {
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

#left-container {
    background-image: url("./media/computer.avif");
    height: 100vh;
    width: 70%;
}
#right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F6F4EB;
    height: 100vh;
    width: 100%;
}



h2, h3, button, p, input {
    margin-left: 40px;
}

.info-container {
    
}

input {
    width: 200px;
    height: 20px;
    border-radius: 4px;
}

div.form-container {
    align-self: center;
    width: 100%;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    height: 250px;
    margin-bottom: 20px;
}

.first-row, .second-row, .third-row {
    margin-bottom: 20px;
}

button {
    height: 60px;
    width: 250px;
    background: #02a550;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease-out;
    cursor: pointer;
}

button:hover,
button:focus {
    background-color: #fff;
    color: #333;
}

a {
    text-decoration: none;
}