@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Noto+Sans+JP:wght@900&family=Open+Sans&display=swap');

body {
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

#left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./media/kvistholt.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 70%;
}

.title {
    font-size: 20px;
    color: white;
    background-color: black;
    width: 100%;
    text-align: center;
    opacity: 0.8;
}

#right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #EEEEEE;
    height: 100vh;
    width: 100%;
}

h2, h3, button, p, input {
    margin-left: 40px;
}

.info-container > h2{
    font-size: 30px;
}

.info-container > h3{
    font-size: 22px;
}

input {
    width: 200px;
    height: 20px;
    border-radius: 4px;
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    text-size: 20px;
}


#form-container {
    align-self: center;
    width: 100%;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    height: 250px;
    margin-bottom: 20px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.08);
    padding: 20px;
}

.first-row, .second-row, .third-row {
    margin-bottom: 20px;
}

button {
    height: 60px;
    width: 250px;
    background: #272829;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease-out;
    cursor: pointer;
}

button:hover,
button:focus {
    background-color: #fff;
    color: blue;
}

a {
    text-decoration: none;
}

.error {
    border: solid red;
}

.success {
    border: solid green;
}